body, html{
    margin: 0;
    padding: 0;
    font: 16px/22px "GothamPro-Light", sans-serif;
}
.main{
    position: relative;
    min-width: 1170px;
    background: #FFF;
    padding: 0 115px;
    box-sizing: content-box;
    z-index: 2;
    &:after{
        content: "";
        width: 100%;
        height: 370px;
        position: absolute;
        background-color: $darkbrown;
        left: 0;
        top: 0;
        z-index: -1;
    }
}
.container{
    width: 1170px;
    max-width: none !important;
    margin: 0 auto;
}
.container-no-padding{
    @extend .container;
    &:before, &:after{
        content: "";
        display: table;
    }
    &:after{
        clear: both;
    }
    padding: 0;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Merriweather-Bold', sans-serif;
}
h1{
    font-size: 46px;
    line-height: 52px;
}
h2{
    font-size: 24px;
    line-height: 30px;
}
h3{
    font-size: 20px;
    line-height: 26px;
}
a:focus{
    outline: none;
    box-shadow: none;
    border: none;
}
.details-link{
    color: $white;
    i{
        color: $lightbrown;
        width: 70px;
        transition: all ease 300ms;
        height: 14px;
        position: relative;
        margin-right: 14px;
        &:before{
            position: absolute;
            right: 0;
        }
        &:after{
            content: "";
            height: 2px;
            width: 100%;
            display: block;
            background-color: $lightbrown;
            position: absolute;
            top: 50%;
            margin-top: -1px;
            right: 6px;
        }
    }
    &:hover, &:focus{
        color: $white;
        text-decoration: none;
        i{
            width: 40px;
        } 
    }
}