@font-face {
  font-family: 'GothamPro-Black';
  src: url("../fonts/GothamPro-Black.woff") format("woff"), url("../fonts/GothamPro-Black.ttf") format("truetype"), url("../fonts/GothamPro-Black.svg#GothamPro-Black") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Merriweather-Regular';
  src: url("../fonts/Merriweather-Regular.woff") format("woff"), url("../fonts/Merriweather-Regular.ttf") format("truetype"), url("../fonts/Merriweather-Regular.svg#Merriweather-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'MerriweatherRegulara';
  src: url("../fonts/MerriweatherRegulara.eot");
  src: url("../fonts/MerriweatherRegulara.woff2") format("woff2"), url("../fonts/MerriweatherRegulara.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'GothamPro-BlackItalic';
  src: url("../fonts/GothamPro-BlackItalic.woff") format("woff"), url("../fonts/GothamPro-BlackItalic.ttf") format("truetype"), url("../fonts/GothamPro-BlackItalic.svg#GothamPro-BlackItalic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'GothamPro-Bold';
  src: url("../fonts/GothamPro-Bold.woff") format("woff"), url("../fonts/GothamPro-Bold.ttf") format("truetype"), url("../fonts/GothamPro-Bold.svg#GothamPro-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'GothamPro-BoldItalic';
  src: url("../fonts/GothamPro-BoldItalic.woff") format("woff"), url("../fonts/GothamPro-BoldItalic.ttf") format("truetype"), url("../fonts/GothamPro-BoldItalic.svg#GothamPro-BoldItalic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'GothamPro-Italic';
  src: url("../fonts/GothamPro-Italic.woff") format("woff"), url("../fonts/GothamPro-Italic.ttf") format("truetype"), url("../fonts/GothamPro-Italic.svg#GothamPro-Italic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'GothamPro-Light';
  src: url("../fonts/GothamPro-Light.woff") format("woff"), url("../fonts/GothamPro-Light.ttf") format("truetype"), url("../fonts/GothamPro-Light.svg#GothamPro-Light") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'GothamPro-LightItalic';
  src: url("../fonts/GothamPro-LightItalic.woff") format("woff"), url("../fonts/GothamPro-LightItalic.ttf") format("truetype"), url("../fonts/GothamPro-LightItalic.svg#GothamPro-LightItalic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'GothamPro-Medium';
  src: url("../fonts/GothamPro-Medium.woff") format("woff"), url("../fonts/GothamPro-Medium.ttf") format("truetype"), url("../fonts/GothamPro-Medium.svg#GothamPro-Medium") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'GothamPro-MediumItalic';
  src: url("../fonts/GothamPro-MediumItalic.woff") format("woff"), url("../fonts/GothamPro-MediumItalic.ttf") format("truetype"), url("../fonts/GothamPro-MediumItalic.svg#GothamPro-MediumItalic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'GothamPro';
  src: url("../fonts/GothamPro.woff") format("woff"), url("../fonts/GothamPro.ttf") format("truetype"), url("../fonts/GothamPro.svg#GothamPro") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Merriweather-Bold';
  src: url("../fonts/Merriweather-Bold.woff") format("woff"), url("../fonts/Merriweather-Bold.ttf") format("truetype"), url("../fonts/Merriweather-Bold.svg#Merriweather-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Merriweather-BoldItalic';
  src: url("../fonts/Merriweather-BoldItalic.woff") format("woff"), url("../fonts/Merriweather-BoldItalic.ttf") format("truetype"), url("../fonts/Merriweather-BoldItalic.svg#Merriweather-BoldItalic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Merriweather-Italic';
  src: url("../fonts/Merriweather-Italic.woff") format("woff"), url("../fonts/Merriweather-Italic.ttf") format("truetype"), url("../fonts/Merriweather-Italic.svg#Merriweather-Italic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Merriweather-Light';
  src: url("../fonts/Merriweather-Light.woff") format("woff"), url("../fonts/Merriweather-Light.ttf") format("truetype"), url("../fonts/Merriweather-Light.svg#Merriweather-Light") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Merriweather-LightIt';
  src: url("../fonts/Merriweather-LightIt.woff") format("woff"), url("../fonts/Merriweather-LightIt.ttf") format("truetype"), url("../fonts/Merriweather-LightIt.svg#Merriweather-LightIt") format("svg");
  font-weight: normal;
  font-style: normal; }

body, html {
  margin: 0;
  padding: 0;
  font: 16px/22px "GothamPro-Light", sans-serif; }

.main {
  position: relative;
  min-width: 1170px;
  background: #FFF;
  padding: 0 115px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  z-index: 2; }

.main:after {
    content: "";
    width: 100%;
    height: 370px;
    position: absolute;
    background-color: #262423;
    left: 0;
    top: 0;
    z-index: -1; }

.container, .container-no-padding {
  width: 1170px;
  max-width: none !important;
  margin: 0 auto; }

.container-no-padding {
  padding: 0; }

.container-no-padding:before, .container-no-padding:after {
    content: "";
    display: table; }

.container-no-padding:after {
    clear: both; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather-Bold', sans-serif; }

h1 {
  font-size: 46px;
  line-height: 52px; }

h2 {
  font-size: 24px;
  line-height: 30px; }

h3 {
  font-size: 20px;
  line-height: 26px; }

a:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none; }

.details-link {
  color: #fff; }

.details-link i {
    color: #bea491;
    width: 70px;
    -webkit-transition: all ease 300ms;
    transition: all ease 300ms;
    height: 14px;
    position: relative;
    margin-right: 14px; }

.details-link i:before {
      position: absolute;
      right: 0; }

.details-link i:after {
      content: "";
      height: 2px;
      width: 100%;
      display: block;
      background-color: #bea491;
      position: absolute;
      top: 50%;
      margin-top: -1px;
      right: 6px; }

.details-link:hover, .details-link:focus {
    color: #fff;
    text-decoration: none; }

.details-link:hover i, .details-link:focus i {
      width: 40px; }

.header {
  padding: 45px 0;
  min-width: 1170px;
  color: #fff;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  font-family: "GothamPro", sans-serif; }

.logo {
  width: 120px;
  float: left;
  margin-right: 140px; }

.logo__link, .logo__img {
  width: 100%; }

.stars-block {
  float: left;
  padding-top: 20px; }

.stars-list {
  padding: 0;
  margin: 0;
  list-style: none;
  cursor: default; }

.stars-list__item {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
  margin-right: 40px;
  float: left; }

.stars-list__item:before {
    content: "\e006";
    color: #eadcd3;
    font-size: 16px;
    font-family: 'Glyphicons Halflings', sans-serif;
    margin-right: 15px;
    display: inline-block;
    vertical-align: middle; }

.stars-list__txt {
  display: inline-block;
  vertical-align: middle;
  font-family: "GothamPro", sans-serif; }

.phone {
  float: right;
  padding-top: 12px; }

.phohe-code {
  font-size: 16px;
  margin-right: 5px; }

.phone-end {
  color: #fff;
  font-size: 28px;
  line-height: 1;
  font-family: "GothamPro-Bold", sans-serif; }

.header-nav {
  padding-top: 40px;
  min-width: 1170px; }

.navbar {
  width: 100%;
  margin: 0; }

.navbar .navbar-nav {
  padding-left: 0;
  padding-right: 0;
  margin: 0;
  height: 40px;
  float: left; }

.navbar .navbar-nav li {
    float: left; }

.navbar .navbar-nav .nav-link {
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
    font-family: "GothamPro-Light", sans-serif;
    font-size: 16px;
    padding: 10px;
    border-bottom: 1px solid rgba(190, 164, 145, 0.1);
    margin-right: 35px;
    background: none;
    -webkit-transition: all ease 300ms;
    transition: all ease 300ms; }

.navbar .navbar-nav .nav-link:hover, .navbar .navbar-nav .nav-link:active {
      color: white;
      border-bottom: 1px solid #bea491;
      background: none; }

.navbar .navbar-nav .nav-link:focus {
      outline: none; }

.navbar .navbar-nav li.active .nav-link {
    color: white;
    border-bottom: 1px solid #bea491;
    background: none; }

.navbar-form {
  float: right;
  padding: 0;
  margin: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0; }

.navbar-search {
  width: 270px;
  height: 40px;
  position: relative; }

.navbar-search .form-group {
    width: 100%;
    height: 100%;
    margin: 0; }

.btn-search {
  background: none;
  outline: none;
  border: none;
  position: absolute;
  right: 0;
  bottom: 7px; }

.navbar-form .form-control.form-input {
  width: 100%;
  border: none;
  border-radius: 0;
  padding: 10px 0;
  height: 100%;
  color: #fff;
  background: none;
  font-family: "GothamPro-Light", sans-serif;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 12px; }

.navbar-form .form-control.form-input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.5); }

.navbar-form .form-control.form-input:-moz-placeholder {
    color: rgba(255, 255, 255, 0.5); }

.navbar-form .form-control.form-input::-moz-placeholder {
    color: rgba(255, 255, 255, 0.5); }

.navbar-form .form-control.form-input:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.5); }

.navbar-form .form-control.form-input:focus {
    border-bottom: 1px solid white;
    -webkit-box-shadow: none;
            box-shadow: none; }

.navbar-form .form-control.form-input:focus::-webkit-input-placeholder {
      color: white; }

.navbar-form .form-control.form-input:focus:-moz-placeholder {
      color: white; }

.navbar-form .form-control.form-input:focus::-moz-placeholder {
      color: white; }

.navbar-form .form-control.form-input:focus:-ms-input-placeholder {
      color: white; }

.glyphicon-search {
  color: #bea491; }

.carousel {
  height: 540px; }

.carousel-indicators {
  width: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 70px;
  left: auto;
  bottom: auto; }

.carousel-indicators li {
    display: block;
    float: right;
    width: 15px;
    height: 12px;
    margin-bottom: 10px;
    background: none;
    position: relative;
    border: none;
    -webkit-transition: all ease 300ms;
    transition: all ease 300ms; }

.carousel-indicators li:after {
      content: "";
      height: 2px;
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.15); }

.carousel-indicators li:hover {
      width: 30px; }

.carousel-indicators li:hover:after {
        content: "";
        height: 2px;
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        background-color: #bea491; }

.carousel-indicators .active {
    width: 30px;
    height: 12px;
    margin-bottom: 10px;
    background: none; }

.carousel-indicators .active:after {
      content: "";
      height: 2px;
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      background-color: #bea491; }

.carousel-caption {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  padding: 70px 120px 70px 70px;
  background-color: rgba(34, 34, 36, 0.63); }

.caption-text {
  position: absolute;
  text-align: left;
  top: 50%;
  width: calc(100% - 190px);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%); }

.caption-title {
  font-family: 'Merriweather-Bold', sans-serif;
  font-size: 46px;
  line-height: 52px; }

.caption-describe {
  font-size: 20px;
  margin-top: 20px;
  color: rgba(255, 255, 255, 0.5); }

.caption-link {
  position: absolute;
  bottom: 70px;
  left: 70px; }

.transition-timer-carousel-progress-bar {
  height: 6px;
  background-color: #bea491;
  width: 0%;
  margin: 0;
  border: none;
  z-index: 11;
  position: absolute; }

.banner {
  height: 540px;
  background-color: #dcc8ba;
  padding: 45px 60px 0; }

.banner-text {
  text-align: center; }

.banner-picture {
  height: 375px;
  overflow: hidden; }

.banner-img {
  width: 100%; }

.banner-describtion {
  color: #262423;
  margin-bottom: 15px; }

.link-title {
  color: #83644e;
  display: inline-block;
  font: 24px 'GothamPro-Black';
  padding-bottom: 5px;
  margin-bottom: 50px;
  border-bottom: 1px solid #83644e;
  -webkit-transition: all ease 300ms;
  transition: all ease 300ms; }

.link-title:hover, .link-title:focus {
    color: #83644e;
    border-bottom: 1px solid transparent;
    text-decoration: none; }

.categories {
  margin-top: 30px; }

.category {
  background-color: #dcc8ba;
  padding: 65px 70px 0; }

.category-text {
  height: 250px;
  margin-bottom: 30px;
  overflow: hidden; }

.category-text .link-title {
    margin-bottom: 40px; }

.category-picture {
  height: 175px;
  overflow: hidden; }

.category-picture img {
    width: 100%; }

.category.dark {
  color: #fff;
  background-color: #262423; }

.category.dark .link-title {
    color: #ebdcd3;
    border-bottom: 1px solid #ebdcd3; }

.category.dark .link-title:hover, .category.dark .link-title:focus {
      color: #ebdcd3;
      border-bottom: 1px solid transparent; }

.catalog {
  margin-top: 130px; }

.section-header {
  margin-bottom: 60px; }

.section-title {
  color: #83644e;
  font: 46px/52px 'Merriweather-Bold';
  position: relative;
  margin: 0;
  padding-left: 90px; }

.section-title:before {
    content: "";
    height: 1px;
    display: inline-block;
    background-color: #83644e;
    width: 70px;
    position: absolute;
    top: 50%;
    left: 0; }

.filters > .filters__item.active > .filters__link {
  padding: 15px 20px;
  border-radius: 50px;
  border: 1px solid rgba(131, 100, 78, 0.25);
  background: none;
  color: #262423; }

.filters > .filters__item > .filters__link {
  padding: 15px 20px;
  border-radius: 50px;
  border: 1px solid #83644e;
  background: none;
  color: #83644e;
  -webkit-transition: all ease 300ms;
  transition: all ease 300ms; }

.filters > .filters__item > .filters__link:focus, .filters > .filters__item > .filters__link:hover {
    border: 1px solid rgba(131, 100, 78, 0.25);
    color: #262423; }

.filters .filters__item {
  margin-left: 20px;
  float: right; }

.filters .filters__item:last-child {
    margin: 0; }

.product {
  padding: 40px;
  -webkit-transition: all ease 300ms;
  transition: all ease 300ms;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, rgba(218, 196, 182, 0.2)), to(rgba(236, 222, 213, 0.2)));
  background: linear-gradient(to right, rgba(218, 196, 182, 0.2) 50%, rgba(236, 222, 213, 0.2) 100%);
  background-size: 1px 100%;
  position: relative;
  z-index: 2; }

.product:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, #262423), to(#44413f));
    background: linear-gradient(to right, #262423 50%, #44413f 100%);
    z-index: -1;
    -webkit-transition: all ease 300ms;
    transition: all ease 300ms;
    opacity: 0; }

.product__title {
  color: #262423;
  font-size: 20px;
  font-family: 'GothamPro-Black', sans-serif;
  margin-bottom: 35px; }

.product-view {
  margin-bottom: 40px; }

.product__picture {
  overflow: hidden;
  width: 85px;
  margin-right: 20px;
  float: left; }

.product__img {
  width: 100%; }

.product__character {
  float: left; }

.property-name {
  font-size: 12px;
  color: rgba(38, 36, 35, 0.5); }

.property-value {
  color: #262423; }

.colors-list {
  padding: 0;
  margin-bottom: 20px;
  list-style: none; }

.color-item {
  float: left;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  margin-right: 5px; }

.color-item:last-child {
    margin-right: 0; }

.label-item {
  text-transform: uppercase;
  color: #83644e;
  font-family: 'Merriweather-Light', sans-serif;
  margin-bottom: 15px;
  font-size: 12px; }

.label-item:last-child {
    margin-bottom: 0; }

.product__describtion {
  margin-bottom: 35px;
  font-size: 12px;
  color: #262423; }

.details-btn {
  background-color: #bea491;
  padding: 15px 80px 15px 20px;
  border-radius: 30px;
  display: inline-block;
  position: relative; }

.details-btn i {
    position: absolute;
    color: #fff;
    right: 20px;
    top: 50%;
    margin-top: -7px;
    margin-right: 0;
    width: 20px; }

.details-btn i:after {
      background-color: #fff; }

.details-btn:hover i {
    width: 35px; }

.product:hover .product__title, .product:hover .property-value, .product:hover .label-item, .product:hover .product__describtion {
  color: #fff; }

.product:hover .property-name {
  color: rgba(255, 255, 255, 0.5); }

.product:hover:after {
  -webkit-transition: all ease 300ms;
  transition: all ease 300ms;
  opacity: 1; }

.production {
  margin-top: 140px;
  min-width: 1170px; }

.production__item {
  float: left;
  margin-right: 30px;
  width: calc(33.3333% - 20px);
  height: 445px;
  overflow: hidden;
  position: relative; }

.production__item:last-child {
    margin-right: 0; }

.production__item:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(38, 36, 35, 0)), to(#262423));
    background: linear-gradient(to bottom, rgba(38, 36, 35, 0) 50%, #262423 100%); }

.production__img {
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.production__describtion {
  position: absolute;
  bottom: 70px;
  left: 70px;
  color: #fff;
  font-size: 20px;
  line-height: 26px;
  z-index: 3; }

.text-highlight {
  color: #ebdcd3;
  font-family: 'GothamPro-Black', sans-serif; }

.footer {
  background-color: #262423;
  margin-top: 30px;
  padding: 140px 0; }

.category-menu-title {
  color: #bea491;
  font-size: 20px;
  font-family: 'Merriweather-Bold', sans-serif;
  margin-bottom: 40px; }

.menu-category {
  list-style: none;
  padding: 0;
  margin: 0; }

.footer-menu {
  padding: 0; }

.footer-menu__item {
  float: left;
  width: 50%;
  margin-bottom: 20px; }

.footer-menu__link {
  color: rgba(255, 255, 255, 0.5);
  display: inline-block;
  padding: 5px;
  border-bottom: 1px solid rgba(190, 164, 145, 0.1);
  -webkit-transition: all ease 300ms;
  transition: all ease 300ms; }

.footer-menu__link:hover, .footer-menu__link:active, .footer-menu__link:focus {
    color: white;
    border-bottom: 1px solid #bea491;
    text-decoration: none; }

.map {
  width: 270px;
  float: left; }

.contacts-wrap {
  padding: 0; }

.contacts {
  float: left;
  width: calc(100% - 330px);
  margin-left: 60px; }

.contacts-title {
  color: rgba(255, 255, 255, 0.25);
  font-size: 12px;
  line-height: 1;
  margin-bottom: 10px; }

.contats-content {
  color: #bea491;
  font-size: 16px;
  margin-bottom: 30px; }

.contacts__phone .contats-content {
  font-size: 20px; }

.modal-dialog {
  margin-top: 280px; }

.modal-content {
  border-radius: 0;
  width: 470px;
  background-color: #eadcd3;
  padding: 40px 45px 30px;
  position: relative; }

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  -webkit-transition: all ease 300ms;
  transition: all ease 300ms; }

.close span {
    font-size: 16px; }

.close:hover {
    color: #262423; }

.close:focus {
    outline: none; }

.modal-header, .modal-footer {
  border: none; }

.modal-header {
  margin-bottom: 10px; }

.modal-title {
  color: #83644e;
  font-size: 20px;
  font-family: 'GothamPro-Black', sans-serif;
  margin-bottom: 15px; }

.modal-txt {
  color: #262423;
  font-size: 12px; }

form {
  border: none; }

.modal-content .form-input {
  width: 100%;
  border: none;
  border-radius: 0;
  padding: 10px 0;
  height: 100%;
  color: #262423;
  background: none;
  font-family: "GothamPro-Light", sans-serif;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-bottom: 1px solid rgba(38, 36, 35, 0.1);
  font-size: 12px; }

.modal-content .form-input::-webkit-input-placeholder {
    color: rgba(38, 36, 35, 0.5); }

.modal-content .form-input:-moz-placeholder {
    color: rgba(38, 36, 35, 0.5); }

.modal-content .form-input::-moz-placeholder {
    color: rgba(38, 36, 35, 0.5); }

.modal-content .form-input:-ms-input-placeholder {
    color: rgba(38, 36, 35, 0.5); }

.modal-content .form-input:focus {
    border-bottom: 1px solid #262423;
    -webkit-box-shadow: none;
            box-shadow: none; }

.modal-content .form-input:focus::-webkit-input-placeholder {
      color: #262423; }

.modal-content .form-input:focus:-moz-placeholder {
      color: #262423; }

.modal-content .form-input:focus::-moz-placeholder {
      color: #262423; }

.modal-content .form-input:focus:-ms-input-placeholder {
      color: #262423; }

.modal-footer {
  margin-top: 25px; }

.submit-btn {
  color: #fff;
  border: none;
  position: relative;
  margin-bottom: 0; }

.submit-btn:focus {
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none; }

input[type=checkbox] {
  visibility: hidden;
  width: 0; }

.input-checkbox {
  float: left;
  width: 150px;
  text-align: left; }

.checkbox__label {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid rgba(131, 100, 78, 0.5);
  -webkit-transition: all ease;
  transition: all ease;
  float: left;
  display: block;
  position: relative;
  top: 5px;
  cursor: pointer; }

.input-description {
  float: left;
  font-size: 12px;
  width: calc(100% - 25px);
  margin-left: 10px;
  color: #262423;
  cursor: pointer; }

input[type=checkbox]:checked + .checkbox__label {
  position: relative; }

input[type=checkbox]:checked + .checkbox__label:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8px;
    height: 8px;
    margin-top: -4px;
    margin-left: -4px;
    background-color: #83644e;
    border-radius: 50%; }

.input-checkbox:hover .checkbox__label {
  border: 1px solid #83644e; }

/*# sourceMappingURL=style.css.map */
